* {
    font-family: arial;

}

body {
    background-color: rgb(246, 245, 240);
    margin: 0;
    padding: 0;
}

.navbar-brand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.text-navbar{
    color:#ffffff !important;
}

nav ul li:hover {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 19%, rgba(14,13,13,1) 62%, rgba(14,13,13,1) 93%);

  }


.navbar-brand img:hover{
    opacity: 0.8;
    
}

.brand-text{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 5%;
    align-self: center;
    font-size:medium;
    justify-content:center;
}

.navbar a{
    font-family:Arial, Helvetica, sans-serif;
    color:#ffffff !important;
} 

.dropdown-menu a{
    color:#000000 !important;
}

.png img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.presentacion p {
    font-size: large;
    text-align: justify;
}



.caption-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: impact;
    letter-spacing: 2px;
    opacity: 0.8;
}

.texto {
    max-width: 100%;
    margin-top: 20px;
}


.mi-boton {
    margin-top:3%;
    margin-bottom: 3%;
    width: fit-content;
    background-color: rgb(39, 39, 39);
    color: rgba(255, 255, 255, 0.897);
    border-radius: 5px;
    cursor: pointer;
}

.mi-boton:hover {
    background-color: rgb(83, 83, 80);
    color: rgba(255, 255, 255, 0.925);
    border-color: rgb(83, 83, 80);
}

.mi-boton .message {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mi-boton-card{
    margin-top: 10% !important;
    width: fit-content !important;
    border-radius: 3px !important;
    padding-bottom: -0.5rem;
    padding-left: 10px;
    
}

.mi-boton-card p{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: light !important;
        font-size: 80% !important;
        
}

.responsive{
    cursor: pointer;
}
.responsive:hover{
    background-color: rgba(123, 123, 120, 0.347) !important;
    color: #000000;
}

.image-container {
    width: 100%;
    height: 100%;
    text-align: center;
}
  
.image-container img {
    width: 100%;
    height: 100%;
}

.text-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(185, 148, 74, 0.726);
}

.text-container .text{
    font-size: 20px;
    text-align: justify;
    align-self: center;

}

@media (max-width: 998px) {
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .text-container .text {
      font-size: 16px;
    }
}

.terminos h2{
    font-weight: bolder ;
    margin-top: 5%;
    margin-bottom: 2%;
}

.terminos p{
    font-size: 18px;
    margin-bottom: 3%;
}

.error_message{
    color: rgb(250, 55, 91);
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
}

.text-justify{
    text-align: justify;
}


.img-quienes-somos{
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}


.img-container-products img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container-products {
    width: 100%;
    height:300px;
    text-align: center;
} 
