<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initialscale=1,
shrink-to-fit=no">
    <title>principal</title>

    <!--<style>
        p{
            color: olive;
        }
    </style>
    -->
    <link rel="stylesheet" href="styles/miestilo.css">
</head>

<body>
    <nav class="menu">
        <ul>
            <li><a href="https://www.google.com/">Inicio</a></li>
            <li><a href="https://espanol.yahoo.com/?p=us">Sobre nosotros</a></li>
            <li><a href="https://exa.unne.edu.ar">Contacto</a></li>
        </ul>
    </nav>
    <h1>Bienvenidos a taller de programación</h1>
    <div class="parrafos">
        <p class="parrafo">Hoy sólo práctico de configuración</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, repudiandae adipisci doloribus nesciunt autem
            magni fuga, repellat pariatur, sapiente inventore debitis voluptates veritatis porro et asperiores
            consectetur. Adipisci, quibusdam. Quia.</p>
    </div>
</body>

</html>

